.busket-modal {
  display: none;
  width: 320px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 45px;
  padding-left: 31px;
  padding-right: 27px;

  background-color: #ffffff;
  box-shadow: 0px 5px 10px 0 rgba(0, 1, 1, 0.25);
  border: solid 1px #c6c6c6;
}

.busket-modal__wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;

  background-color: rgba($color: #ffffff, $alpha: 0.9);
}

.busket-modal__title {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  font-size: 25px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.busket-modal__sub-title {
  margin-bottom: 24px;
  text-align: center;
}

.busket-modal__fieldset {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  border: none;
}

.busket-modal__radio-wrapper {
  display: inline-block;
  margin-right: 2px;

  &:last-child {
    margin-right: 0;
  }
}

.busket-modal__label {
  display: block;
  box-sizing: border-box;
  width: 82px;
  height: 52px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;


  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  border: solid 2px rgba($color: #444444, $alpha: 0.1);
  cursor: pointer;
}

.busket-modal__radio:checked ~ .busket-modal__label {
  border: solid 2px #63d1bb;
}

.busket-modal__button {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 16px;
  padding-left: 82px;
  padding-right: 82px;

  font-weight: 700;
  color: #ffffff;

  background-color: #63d1bb;
  border: none;
}
