.busket-modal {
  display: none;
}

.busket-modal__title {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.busket-modal__sub-title {
  text-align: center;
}

.busket-modal__label {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.busket-modal__button {
  color: #ffffff;

  background-color: #63d1bb;
  border: none;
}
