.button {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #444444;

  border: solid 2px #444444;
  background-color: #ffffff;

  cursor: pointer;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: rgba($color: #ffffff, $alpha: 0.3);
  }
}
