.contacts {
  position: relative;
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 33px;
  padding-bottom: 39px;
}

.contacts__wrapper {
  margin-bottom: 36px;
  padding-left: 30px;
  padding-right: 30px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  font-size: 17px;
  font-weight: 700;
  color: #000000;
}

.contacts__content {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.contacts__parametr {
  width: 68px;
  margin-right: 10px;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__value {
  flex-grow: 1;
  margin: 0;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__link {
  display: flex;
  color: #444444;
  border-bottom: solid 1px #62d1ba;

  cursor: pointer;

  &:hover,
  &:focus {
    color: #46c1ae;
    border-bottom-color: #46c1ae;
  }

  &:active {
    color: rgba($color: #46c1ae, $alpha: 0.3);
    border-bottom-color: rgba($color: #46c1ae, $alpha: 0.1);
  }
}

.contacts__map {
  position: relative;
  height: 457px;
  margin-bottom: 39px;
}

.contacts__map-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.contacts__button {
  display: block;
  width: 260px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 13px;
  padding-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .contacts__content {
    flex-wrap: nowrap;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
  }

  .contacts__button {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
