.development {
  padding: 0;
  padding-top: 18px;
  padding-bottom: 27px;
  margin: 0;
}

.development__link {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  color: #000000;

  &:active {
    opacity: 0.3;
  }
}

.development__image {
  margin-left: 30px;
  width: 35px;
  height: 34px;
}

.development__link:hover path,
.development__link:focus path {
  fill: #46c1ae;
}
