.info-nav {
  display: none;
  list-style: none;
  margin: 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.info-nav__item {
  list-style: none;
}

.info-nav__link {
  color: #000000;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
  .info-nav {
    display: flex;
    order: 3;
  }
}
