.inner__title {
  margin: 0;
  padding-top: 70px;
  padding-bottom: 75px;

  font-size: 27px;
  font-weight: 700;
  text-align: center;
  color: #000000;

  background-color: #f1f1f1;
}

@media (min-width: $tablet-width) {
  .inner {
    margin-top: -44px;
  }

  .inner__title {
    padding-top: 95px;
    padding-bottom: 78px;

    font-size: 43px;
    line-height: 50px;
  }
}
