.main__title {
  height: 373px;

  font-size: 27px;
  font-weight: 700;
  text-align: center;
  color: #000000;

  background-color: #ffffff;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: $tablet-width) {
  .main__title {
    height: 746px;
  }
}
