.main-nav {
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.main-nav__item {
  list-style: none;
}

.main-nav__link {
  display: block;
  padding-top: 27px;
  padding-bottom: 28px;
  padding-left: 76px;
  padding-right: 60px;

  color: #000000;
  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;

  cursor: pointer;

  &:hover,
  &:focus {
    color: #666666;
  }

  &:active {
    color: #b2b2b2;
  }
}

.js-main-nav {
  display: none;
}

.js-main-nav--open {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    order: 2;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    order: 0;
  }
}
