.order__description {
  font-size: 13px;
  line-height: 24px;
}

.order__title {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb;
}

.order__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.order__input {
  font-size: 17px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.3);
}

.order__textarea {
  font-size: 17px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.3);
}

.order__note {
  font-size: 14px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .order__fieldset {
    display: flex;
  }

  .order__title {
    margin: 0;
  }

  .order__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &--color {
      flex-direction: row;
    }

    &--submit {
      flex-direction: row;
    }
  }

  .order__checkbox-wrapper {
    width: 50%;
  }

  .order__note {
    order: 1;
  }
}

@media (min-width: $desktop-width) {
  .order__checkbox-wrapper {
    width: 30%;
  }
}
