.product-list {
  list-style: none;
}

.product-list__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.product-list__description {
  font-size: 13px;
}

.product-list__price {
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .product-list__item {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .product-list {
    display: flex;
    flex-wrap: wrap;
  }
}
