.product-list {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  padding-top: 31px;
  padding-left: 31px;
  padding-right: 29px;
  list-style: none;
}

.product-list__item {
  margin-bottom: 31px;
  border: solid 1px #ececec;
}

.product-list__wrapper {
  padding-top: 18px;
  padding-bottom: 27px;
  padding-left: 27px;
  padding-right: 27px;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba($color: #000000, $alpha: 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba($color: #000000, $alpha: 0.1);
  }
}

.product-list__title {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.product-list__link:hover .product-list__title,
.product-list__link:focus .product-list__title {
  color: #666666;
}

.product-list__link:active .product-list__title {
  color: #b2b2b2;
}

.product-list__description {
  margin: 0;
  padding: 0;
  padding-bottom: 19px;

  font-size: 13px;

  border-bottom: solid 1px #ececec;
}

.product-list__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 21px;

  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.product-list__basket-button {
  padding: 0;
  width: 20px;
  height: 20px;

  background-color: transparent;
  border: none;
  opacity: 0.2;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.product-list__basket-button:hover path,
.product-list__basket-button:focus path,
.product-list__basket-button:active path {
  fill: #63d1bb;
}

@media (min-width: $tablet-width) {
  .product-list__item {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .product-list {
    display: flex;
    flex-wrap: wrap;
  }
}
