.reviews__title {
  font-size: 25px;
  font-weight: 700;
  color: #000;
}

.reviews__list {
  list-style: none;
}

.reviews__author {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
}

.reviews__author-link {
  font-size: 17px;
  color: #444;
}
