.site-nav {
  list-style: none;
  margin: 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.site-nav__item {
  list-style: none;
}

.site-nav__link {
  color: #000000;
}

@media (min-width: $tablet-width) {
  .site-nav {
    display: flex;
    order: 1;
  }
}

@media (min-width: $desktop-width) {
  .site-nav {
    order: 2;
  }
}
