.site-nav {
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.site-nav__item {
  position: relative;
  list-style: none;
}

.site-nav__link {
  display: block;
  padding-top: 27px;
  padding-bottom: 28px;
  padding-left: 75px;
  padding-right: 60px;

  color: #000000;
  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;

  cursor: pointer;

  &:hover,
  &:focus {
    color: #666666;
  }

  &:hover path,
  &:focus path {
    fill: #63d1bb;
  }

  &:active {
    color: #b2b2b2;
  }

  &:active path {
    fill: #d0f1ea;
  }
}

.site-nav__icon {
  position: absolute;

  opacity: 0.2;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.site-nav__icon--search {
  top: 32px;
  left: 33px;
  width: 18px;
  height: 18px;
}

.site-nav__icon--basket {
  top: 31px;
  left: 31px;
  width: 21px;
  height: 18px;
}

.js-site-nav {
  display: none;
}

.js-site-nav--open {
  display: block;
}

@media (min-width: $tablet-width) {
  .site-nav {
    display: flex;
    order: 1;
    width: 398px;
  }

  .site-nav__link {
    padding-top: 32px;
    padding-bottom: 33px;
    padding-left: 83px;
    padding-right: 49px;

    border-left: solid 1px #ececec;
  }

  .site-nav__link--search {
    font-size: 0;
    padding-top: 32px;
    padding-bottom: 33px;
    padding-left: 41px;
    padding-right: 41px;
  }

  .site-nav__icon--search {
    top: 52%;
    left: 52%;
    transform: translate(-50%, -50%);
  }

  .site-nav__icon--basket {
    top: 36px;
    left: 33px;
  }
}

@media (min-width: $desktop-width) {
  .site-nav {
    order: 2;
    width: 400px;
    padding: 0;
  }
}
