.week-product {
  position: relative;
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 34px;
  padding-bottom: 36px;
  padding-left: 30px;
  padding-right: 30px;

  background-image: url("../../img/bg-zigzag-line.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 320px 10px;
}

.week-product__title {
  margin: 0;
  padding: 0;

  font-size: 25px;
  font-weight: 700;
  color: #000000;
}

.week-product__sub-title {
  margin-bottom: 30px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb;
}

.week-product__description {
  margin-bottom: 20px;
  line-height: 24px;
}

.week-product__characteristic-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;

  line-height: 20px;

  border-bottom: 1px solid #000000;
}

.week-product__characteristic-parametr {
  width: 75px;
  margin-right: 10px;
}

.week-product__characteristic-value {
  margin: 0;
  flex-grow: 1;
}

.week-product__image {
  margin-bottom: 30px;
}

.week-product__price {
  margin-bottom: 30px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.week-product__button {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .week-product__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .week-product__description {
    width: 50%;
  }

  .week-product__image {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .week-product__characteristic {
    width: 50%;
  }

  .week-product__price {
    width: 50%;
  }

  .week-product__button {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .week-product__wrapper {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}
