.week-product__title {
  font-size: 25px;
  font-weight: 700;
  color: #000;
}

.week-product__sub-title {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb;
}

.week-product__description {
  line-height: 24px;
}

.week-product__characteristic {
  line-height: 20px;
}

.week-product__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}
